<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dslPatterns -->
      <package
            uri="http://mondo.org/dslPatterns"
            class="dslPatterns.DslPatternsPackage"
            genModel="model/dslPatterns.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dslPatterns -->
      <package
            uri="http://mondo.org/serviceInterfaces"
            class="serviceInterfaces.ServiceInterfacesPackage"
            genModel="model/dslPatterns.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dslPatterns -->
      <package
            uri="http://mondo.org/serviceInterfaces/codegen"
            class="serviceInterfaces.codegen.CodegenPackage"
            genModel="model/dslPatterns.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dslPatterns -->
      <package
            uri="http://mondo.org/serviceInterfaces/modelingenv"
            class="serviceInterfaces.modelingenv.ModelingenvPackage"
            genModel="model/dslPatterns.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="runtimePatterns.RuntimePatternsPackage"
            genModel="model/runtimePatterns.genmodel"
            uri="http://mondo.org/runtimePatterns">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="runtimeServices.RuntimeServicesPackage"
            genModel="model/runtimeServices.genmodel"
            uri="http://mondo.org/runtimeServices">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="mindMapDSML.MindMapDSMLPackage"
            genModel="model/mindMapDSML.genmodel"
            uri="http://mondo.org/mindMapDSML">
      </package>
   </extension>

</plugin>
