<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.mondo.editor.perspective.MondoDesignPerspective"
            icon="icons/mondoDesignPerspective.gif"
            id="org.mondo.editor.perspective.mondoDesign"
            name="DSL-tao Design">
      </perspective>
      <perspective
            class="org.mondo.editor.perspective.MondoAnalysisPerspective"
            icon="icons/mondoAnalysisPerspective.gif"
            id="org.mondo.editor.perspective.mondoAnalysis"
            name="DSL-tao Analysis">
      </perspective>
   </extension>
</plugin>
