<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.mondo.ui.contribution"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.mondo.ui.menu1"
               label="DSL-tao"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.mondo.editor.ui.popup.actions.CreateMondoDiagram"
               enablesFor="1"
               id="org.mondo.ui.newAction"
               label="Create new DSL-tao diagram..."
               menubarPath="org.mondo.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.mondo.editor.ui.MondoCategory"
            name="DSL-tao">
      </category>
      <wizard
            category="org.mondo.editor.ui.MondoCategory"
            class="org.mondo.editor.ui.wizards.NewMondoDiagramWizard"
            icon="icons/designMondo.gif"
            id="org.mondo.editor.ui.wizards.MondoDiagramWizard"
            name="DSL-tao Design Diagram">
      </wizard>
      <wizard
            category="org.mondo.editor.ui.MondoCategory"
            class="org.mondo.editor.ui.wizards.NewMondoProjectWizard"
            icon="icons/mondo.gif"
            id="org.mondo.editor.ui.wizards.MondoProjectWizard"
            name="DSL-tao Project">
      </wizard>
      <wizard
            category="org.mondo.editor.ui.MondoCategory"
            class="org.mondo.editor.ui.wizards.NewAnalysisMondoDiagramWizard"
            icon="icons/analysisMondo.gif"
            id="org.mondo.editor.ui.wizards.MondoAnalysisDiagramWizard"
            name="DSL-tao Analysis Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.mondo.editor.ui.views.mondoPatternsCategory"
            name="DSL-tao Patterns">
      </category>
      <view
            category="org.mondo.editor.ui.views.mondoPatternsCategory"
            class="org.mondo.editor.ui.views.PatternsView"
            icon="icons/patternsView.gif"
            id="org.mondo.editor.ui.views.PatternsView"
            name="Patterns View">
      </view>
      <view
            category="org.mondo.editor.ui.views.mondoPatternsCategory"
            class="org.mondo.editor.ui.views.AppliedPatternsView"
            icon="icons/appliedPatternsView.gif"
            id="org.mondo.editor.ui.views.AppliedPatternsView"
            name="Applied Patterns View">
      </view>
      <view
            category="org.mondo.editor.ui.views.mondoPatternsCategory"
            class="org.mondo.editor.ui.views.PatternServicesView"
            icon="icons/appliedPatternsView.gif"
            id="org.mondo.editor.ui.views.PatternServicesView"
            name="Pattern Services View">
      </view>
      <category
            id="org.mondo.editor.ui.views.MondoVisualizationCategory"
            name="DSL-tao Visualization">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.mondo.editor.ui.views.PatternsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.mondo.editor.ui.views.AppliedPatternView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.mondo.editor.ui.decorators.MondoDiagramDecorator"
            id="org.mondo.editor.ui.decorator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="mondoNature"
         name="DSL-tao Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.mondo.editor.ui.MondoNature">
         </run>
      </runtime>
   </extension>

</plugin>
